<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\opt\apps\logs\AccessKeyVaultSampleApp\internal-nlog.log">


  <variable name="logDirectory" value="c:\opt\apps\logs\AccessKeyVaultSampleApp" />
  <variable name="basicLayout" value="${longdate} ${uppercase:${level}} ${logger} ${message}" />
  
  <!-- Layout options
  ${longdate} 
  ${aspnet-request:servervariable=URL} 
  ${uppercase:${level}} 
  ${message}
  ${event-properties:item=EventId_Id}
  ${logger}
  ${exception:format=tostring}
  ${aspnet-request-url}
  ${aspnet-mvc-action}
  ${callsite:includSourcePath=true})
  (${stacktrace:topFrames=10})
  -->

  <!-- the targets to write to -->
  <targets>


    <!-- all logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="allLogs" fileName="${logDirectory}\nlog-all.log"
            layout="${basicLayout}"
            archiveFileName="${logDirectory}\archives\nlog-all-{#}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"
            archiveEvery="Day"/>
    
    <target xsi:type="Debugger" name="debugger" layout="${basicLayout}" />
    
    <!-- Warning and Error logs.  -->
    <target xsi:type="File" name="errorLogs" fileName="${logDirectory}\nlog-error.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"
            archiveFileName="${logDirectory}\archives\nlog-error-{#}.log"
            archiveNumbering="Date"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"
            archiveEvery="Day"/>

  </targets>





  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Debug" writeTo="debugger" />
    <logger name="*" minlevel="Debug" writeTo="allLogs" />
    <logger name="*" minLevel="Warn" writeTo="errorLogs" />
  </rules>
</nlog>